# see https://symfony.com/doc/current/reference/configuration/framework.html
framework:
    secret: '%env(APP_SECRET)%'
    http_cache: true
    
    # Note that the session will be started ONLY if you read or write from it.
    session: 
        cookie_secure: auto
        cookie_samesite: lax

    #esi: true
    #fragments: true
    
    cache:
        app: cache.adapter.filesystem
        system: cache.adapter.system

when@test:
    framework:
        test: true
        session:
            storage_factory_id: session.storage.factory.mock_file
